# Agregando DataFrames

Estatísticas resumidas - Resumem números em um estatística, por exemplo, média, mediana, mínimo, máximo e desvio padrão. Permitem que tenhamos uma noção melhor dos dados mesmos que sejam muitos.

In [17]:
#Importando pandas
import pandas as pd

#Realizando a leitura do arquivo .csv e armazenando em sales
sales = pd.read_csv("datasets/sales_subset.csv")

#Deletando a coluna Unnamed: 0
sales = sales.drop("Unnamed: 0",axis=1)

sales.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

Iremos trabalhar com dados de lojas do Walmart, o DataFrame contém vendas semanais em dólares em várias lojas. Cada loja possui um número de identificação e um tipo de loja específico. As vendas também são separadas por ID de departamento e junto com as vendas semanais, há informações sobre se foi uma semana de feriádo ou não, a temperatura média durante a semana naqueles local, a média de preço do combustível em dólares por litro naquela semana, e a taxa nacional de desemprego naquela semana.

In [5]:
#Exibindo as informações sobre sales DataFrame
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10774 entries, 0 to 10773
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   store                 10774 non-null  int64
 1   type                  10774 non-null  object
 2   department            10774 non-null  int64
 3   date                  10774 non-null  object
 4   weekly_sales          10774 non-null  float64
 5   is_holiday            10774 non-null  bool
 6   temperature_c         10774 non-null  float64
 7   fuel_price_usd_per_l  10774 non-null  float64
 8   unemployment          10774 non-null  float64
dtypes: bool(1), float64(4), int64(2), object(2)
memory usage: 684.0+ KB

In [6]:
#Exibindo a média de weekly_sales
sales["weekly_sales"].mean()

23843.950148505668

In [7]:
#Exibindo a mediana de weekly_sales
sales["weekly_sales"].median()

12049.064999999999

Resumindo datas

In [11]:
#Exibindo o valor máximo da coluna date (venda mais recente)
sales["date"].max()

'2012-10-26'

In [12]:
#exibindo o valor mínimo da coluna date (primeira venda)
sales["date"].min()

'2010-02-05'

Resumos eficiente

O método .agg() permite aplicar suas próprias funções personalizadas a um DataFrame.

In [15]:
#Função IQR adaptada
def iqr (column):
    return column.quantile(0.75) - column.quantile(0.25)
#Exibindo IQR da coluna temperature_c
sales["temperature_c"].agg(iqr)

16.583333333333336