Quando você obtém um novo DataFrame para trabalhar, a primeira coisa que você precisa fazer é explorá-lo e ver o que ele contém. Existem vários métodos e atributos úteis para isso.

In [1]:
import pandas as pd

In [45]:
homelessness = pd.read_csv("homelessness.csv")
homelessness = homelessness.drop("Unnamed: 0",axis=1)

Homelessness é um DataFrame que contém estimativas de sem-teto em cada estado dos EUA em 2018. A individual coluna é o número de indivíduos sem-teto que não fazem parte de uma família com filhos. A family_members coluna é o número de moradores de rua que fazem parte de uma família com filhos. A state_pop coluna é a população total do estado.

In [46]:
#Retorna as 5 primeiras linhas do DataFrame
homelessness.head()

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

In [47]:
#Apresenta informações de cada coluna
homelessness.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          51 non-null     object
 1   state           51 non-null     object
 2   individuals     51 non-null     float64
 3   family_members  51 non-null     float64
 4   state_pop       51 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.1+ KB

In [49]:
#Retorna o número de linhas e colunas do DataFrame
homelessness.shape

(51, 5)

In [50]:
#Realiza alguns calculos estatísticos 
homelessness.describe()

         individuals  family_members     state_pop
count      51.000000       51.000000  5.100000e+01
mean     7225.784314     3504.882353  6.405637e+06
std     15991.025083     7805.411811  7.327258e+06
min       434.000000       75.000000  5.776010e+05
25%      1446.500000      592.000000  1.777414e+06
50%      3082.000000     1482.000000  4.461153e+06
75%      6781.500000     3196.000000  7.340946e+06
max    109008.000000    52070.000000  3.946159e+07